/*--- Header ---*/
header {
  color: white;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.623),
      rgba(255, 255, 255, 0)
    ),
    url(../_images/japan4.jpg);
  background-size: cover;
  background-position: right;
  display: grid;
  grid-template-columns: 10% minmax(500px, 60%) minmax(100px, 20%) 10%;
  padding: 10rem 0;
}

/* ? *********** LOGO *********** */
.logo-box {
  width: 100px;
  display: flex;
  justify-content: right;
  cursor: pointer;
}

/*--- Media Query ---*/

@media (max-width: 600px) {
  header {
    grid-template-columns: 10% 80% 10%;
    padding: 5rem 0;
  }
}
